@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

head {
  color: rgb(40, 134, 215);
}

body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: var(--clr-body-bg);
    /*background-image: var(--clr-image);*/
    background-repeat:no-repeat ;
    color: var(--clr-text);
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.scoreContainer h4 {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.frontbar{
 background-color: var(--clr-body-bg); 
 backdrop-filter: blur(10px);
 position: fixed;
 top: 0%;
 left: 0%;
 height:fit-content;
 width: fit-content;
 z-index: 999;
 box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
}

nav ul{
  width: 100%;
  list-style: none;
  
}
nav li{
  width: 100%;
}
nav {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 30px;
  text-decoration: none;
  align-items: center;
  color: #000;
}
.sidebar{
  background-color: var(--clr-body-bg); 
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0%;
  left: 0%;
  height:fit-content;
  width: fit-content;
  z-index: 999;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
nav a:hover{
  background-color: #f0f0f0;
}
.container {
    width: 890px;
    background: var(--clr-card-bg);
    display: flex;
    padding: 60px 40px;
    border-radius: 10px;
}
.hangman-box img{
    max-width: 270px;
}
.hangman-box h1{
    font-size: 1.45;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.word-display{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.word-display .letter{
    /*width: 28px;*/
    width: 50%;
    font-size: 2rem;
    /*font-size: 50%;*/
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
}
.word-display .letter.guessed{
    border-color: transparent;
    margin: 20px 0 35px;

}
.game-box h4{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 600;
}

.game-box .guesses-text b{
    color: #ff0000;
}
.game-box .keyboard{
    display: flex;
    gap:5px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
:where(.game-modal, .keyboard) button{
    color:  var(--clr-card-bg);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--clr-text);
    border-radius: 4px;
    text-transform: uppercase;
}
.keyboard button {
    padding: 7px;
    width: calc(100% / 10 - 5px);
}
.keyboard button[disabled] {
    opacity: 0.6;
    pointer-events: none;
}
:where(.game-modal, .keyboard) button:hover{
    background: var(--clr-hover);
}

.game-box .keyboard2{
    display: flex;
    gap:5px;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: center;
}
:where(.game-modal, .keyboard2) button{
    color:  var(--clr-card-bg);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--clr-text);
    border-radius: 4px;
    text-transform: uppercase;
}
.keyboard2 button {
    padding: 7px;
    width: calc(100% / 10 - 5px);
}
.keyboard2 button[disabled] {
    opacity: 0.6;
    pointer-events: none;
}
:where(.game-modal, .keyboard2) button:hover{
  background: var(--clr-hover);
}

.game-modal {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0 10px;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    transition: opacity 0.4s ease;
}
.game-modal.show {
    opacity: 1;
    pointer-events: auto;
}
.game-modal .content {
    background: var(--clr-card-bg);
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}
.game-modal img{
    max-width: 130px;
    margin-bottom: 20px;
}
.game-modal h4 {
    font-size: 1.53rem;
}
.game-modal p{
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b {
    color: var(--clr-text);
    font-weight: 600;
}
.game-modal button{
    padding: 12px 23px;
}

@media (max-width: 782px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img{
        max-width: 200px;
    }
 .hangman-box h1 {
        display: none;
    }
}
    :root {
        --clr-body-bg: hsl(0 0% 90%);
        --clr-card-bg: hsl(0 0% 100%);
        --clr-text: hsl(0 0% 15%);
        --clr-heading: hsl(0 0% 25%);
        --clr-hover:  hsl(0, 0%, 29%);
      }
      
      .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      .color-picker > fieldset {
        border: 0;
        display: inline-grid;
        gap: 1rem;
        width: fit-content;
        background: var(--clr-body-bg);
        padding-top: 0%;
        padding: 1rem 3rem;
        margin-inline: auto;
         
      }
      
      .color-picker input[type="radio"] {
        appearance: none;
        width: 1.5rem;
        height: 1.5rem;
        outline: 3px solid var(--radio-color, currentColor);
        outline-offset: 3px;
        border-radius: 50%;
      }
      
      .color-picker input[type="radio"]:checked {
        background-color: var(--radio-color);
      }
      
      .color-picker input[type="radio"]#light {
        --radio-color: gray;
      }
      .color-picker input[type="radio"]#pink {
        --radio-color: hsl(310 50% 90%);
      }
      .color-picker input[type="radio"]#blue {
        --radio-color: hsl(209 50% 80%);
      }
      .color-picker input[type="radio"]#green {
        --radio-color: hsl(109 50% 90%);
      }
      .color-picker input[type="radio"]#purple {
        --radio-color: hsl(261, 31%, 46%);
      }
      .color-picker input[type="radio"]#dark {
        --radio-color: hsl(209 50% 10%);
      }
      
      .pink {
        --clr-body-bg: hsl(310 50% 90%);
        --clr-card-bg: hsl(310 50% 100%);
        --clr-text: hsl(310 50% 15%);
        --clr-heading: hsl(310 50% 25%);
        --clr-hover: hsl(310, 33%, 38%);
      }
      
      .blue {
        --clr-body-bg: hsl(209 50% 90%);
        --clr-card-bg: hsl(209 50% 100%);
        --clr-text: hsl(209 50% 15%);
        --clr-heading: hsl(209 50% 25%);
        --clr-hover: hsl(209, 33%, 43%);
      }
      
      .green {
        --clr-body-bg: hsl(109 50% 90%);
        --clr-card-bg: hsl(109 50% 100%);
        --clr-text: rgb(26, 57, 19);
        --clr-heading: hsl(109 50% 25%);
        --clr-hover: hsl(109, 27%, 42%);
      }
      
      .purple {
        --clr-body-bg: #b3a3ba;
        --clr-card-bg: #fefefe;
        --clr-text: #28193d;
        --clr-heading: #68507b;
        --clr-hover: #aa8eb6;
      }

      .dark {
        --clr-body-bg: hsl(209 50% 10%);
        --clr-card-bg: hsl(209, 48%, 17%);
        --clr-text: hsl(209 50% 90%);
        --clr-heading: hsl(209 50% 80%);
        --clr-hover: hsl(209, 25%, 64%);
      }
      
      :root:has(#pink:checked) {
        --clr-body-bg: hsl(310 50% 90%);
        --clr-card-bg: hsl(310 50% 100%);
        --clr-text: hsl(309, 54%, 10%);
        --clr-heading: hsl(310 50% 25%);
        --clr-hover: hsl(310, 33%, 38%);
      }
      
      :root:has(#blue:checked) {
        --clr-body-bg: hsl(209 50% 90%);
        --clr-card-bg: hsl(209 50% 100%);
        --clr-text: hsl(209 50% 15%);
        --clr-heading: hsl(209 50% 25%);
        --clr-hover: hsl(209, 33%, 43%);
      }
      
      :root:has(#green:checked) {
        --clr-body-bg: hsl(109 50% 90%);
        --clr-card-bg: hsl(109 50% 100%);
        --clr-text: hsl(109 50% 15%);
        --clr-heading: hsl(109 50% 25%);
        --clr-hover: hsl(109, 27%, 42%);
      }
      
      :root:has(#dark:checked) {
        --clr-body-bg: hsl(210, 46%, 5%);
        --clr-card-bg: hsl(209, 48%, 17%);
        --clr-text: hsl(209 50% 90%);
        --clr-heading: hsl(209 50% 80%);
        --clr-hover:  hsl(209, 25%, 64%);
      }


      :root:has(#purple:checked) {
        --clr-body-bg: #b3a3ba;
        --clr-card-bg: #fefefe;
        --clr-text: #28193d;
        --clr-heading: #68507b;
        --clr-hover: #aa8eb6;
      }

      .difficulty-menu {
        background: var(--clr-card-bg);
        color: var(--clr-text);
        font-size: 90%;
        position: flex;
      }

      .difficulty-menu select{
        background: var(--clr-card-bg);
        color: var(--clr-text);
        font-size: 90%;
      }
      
      .custom-arrow {
        top: 0;
        right: 0;
        display: block;
        height: 2rem;
        width: 1rem;

      }

      .word-bank-menu {
        background: var(--clr-card-bg);
        color: var(--clr-text);
        font-size: 90%;
        position: flex;
      }

      .word-bank-menu select {
        background: var(--clr-card-bg);
        color: var(--clr-text);
        font-size: 90%;
      }

#background-music {
  display: none;
}
#music-button {
  
  background-color: var(--clr-body-bg); 
  border: none;
  color: var(--clr-text);
  padding: 5px  5px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.music-button:hover {
  background-color: var(--clr-hover); ; /* Darker Green */
}
#skip-button {
  
  background-color: var(--clr-body-bg); 
  border: none;
  color: var(--clr-text);
  padding: 5px  5px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.skip-button:hover {
  background-color: var(--clr-hover); ; /* Darker Green */
}